@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 100px 0 100px;
}

.main-word {
    font-size: 80px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #000000;
    text-decoration: none;
}

.dif-word {
    color: #4BCAFF;

}
  
.nav-top {
    display: flex;
    flex-grow: 1;
    background-color: #35444F;
    justify-content: center;
    margin: 38 0 0 0 px;
}

.nav-top > a {
    text-decoration: none;
    font-size: 24px;
    color:#FFFFFF;
    padding: 26px 33px 19px 33px;
    align-items: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.nav-top :hover {
    background-color: #222F3A;
}

main.container {
    display: flex;
    }

.nav-left {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 344px;
    border: 1px solid #000000;
    margin-top: 48px;
   }

.nav-left :hover {
    background-color: #DBDBDB;
    color: #000000;
    padding-left: 65px;
}

.nav-left > a {
text-decoration: none;
font-size: 27px;
color: #495863;
padding: 26px 0 26px 42px;
}

.content {
    width: 885px;
    flex-wrap: wrap;
    margin: 48px 0 0 52px;
}


.ramda-img {
    padding: 75px 268px 73px 297px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;

}

.ramda-img :hover {
    transform: scale(1.1);
    transition: transform 1.6s;
    
    
}

p {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    padding-top: 34px;
}

.bottom {
    display: flex;
    flex-grow: 1;
    background-color: #63696e7a;
    margin: 54px 0 30px 0;
}

.nav-bottom {
    font-size: 28px;
    padding: 24px 0 21px 0
}

.nav-bottom :hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.nav-bottom > a {
    text-decoration: none;
    font-size: 28px;
    padding: 14px;
    align-items: center;
    color: #0C1927;
}

.info {
    padding: 0 0 0 135px;
    font-size: 28px;
    align-self: center;
}

